@import "node_modules/tailwindcss/base.css";
@import "node_modules/tailwindcss/components.css";
@import "node_modules/tailwindcss/utilities.css";

body.dark-mode {
    @apply bg-gray-800 text-gray-100;
}

body.dark-mode h1 {
    @apply text-white;
}

@media only screen and (max-width: 600px) {
    body {
        @apply text-lg;
    }

    h1 {
        @apply text-2xl;
    }

    input[type="text"] {
        @apply w-11/12;
    }

    table {
        @apply w-full;
    }

    td, th {
        @apply p-2;
    }

    #sun-icon {
        @apply h-8 w-8;
    }
}

@media only screen and (min-width: 600px) and (max-width: 1200px) {
    body {
        @apply text-xl;
    }

    h1 {
        @apply text-3xl;
    }

    input[type="text"] {
        @apply w-10/12;
    }

    table {
        @apply w-11/12;
    }

    td, th {
        @apply p-3;
    }

    #sun-icon {
        @apply h-10 w-10;
    }
}

table {
    @apply overflow-x-auto block;
}

table th {
    @apply cursor-pointer relative;
}

table th::before, table th::after {
    @apply h-1 w-1 absolute border-t-2 border-r-2 border-gray-500;
    @apply right-1 top-1/2;
}

table th::before {
    @apply transform -translate-y-2 -rotate-45;
}

table th::after {
    @apply transform translate-y-1 -rotate-45;
}

table th.asc::before {
    @apply border-green-500;
}

table th.desc::after {
    @apply border-green-500;
}

tr {
    @apply h-12;
}

td {
    @apply truncate;
}

body {
    transition: background-color 0.5s ease, color 0.5s ease;
}

body {
    overflow-x: hidden;
}

.radio-button-design {
    top:        0;
    left:       0;
    width:      1rem;
    height:     1rem;
    border:     2px solid gray;
    transition: background-color 0.2s;
}

input[type="radio"]:checked + .radio-button-design {
    background-color: gray;
}

input[type="text"], button[type="submit"] {
    height: 40px;
}

form {
    display:         flex;
    justify-content: center;
}

form input[type="text"], form button[type="submit"] {
    height:         40px;
    vertical-align: middle;
}

input[type="radio"] {
    margin:         0;
    vertical-align: top; /* Change from middle to top */
    height:         1rem; /* Add this line to fix the height */
    width:          1rem; /* Add this line to fix the width */
}

form {
    display:         flex;
    justify-content: center;
    margin-top:      1em; /* Adjust this value to set the position of the form */
}

form input[type="text"], form button[type="submit"] {
    @apply h-10 align-middle;
}

.hidden {
    display: none;
}

form input[type="text"] {
    margin-right: 10px;
}

table {
    width:           100%;
    border-collapse: collapse;
    margin-top:      1rem;
}

table, th, td {
    border: 1px solid #DDD;
}

th, td {
    padding:    15px;
    text-align: left;
    box-sizing: border-box;
}

th {
    background-color: #4CAF50;
    color:            white;
}

tr:nth-child(even) {
    background-color: #F2F2F2;
}

td {
    transition: background-color 0.3s ease;
}

td:hover {
    background-color: #F5F5F5;
}

button[type="submit"] {
    transition: background-color 0.3s ease, color 0.3s ease;
    display:         flex;
    justify-content: center;
    align-items:     center;
    text-align:      center;
}

button[type="submit"]:hover {
    border: 2px solid gray;
    transition: border 0.1s ease;
}

form input[type="text"]:hover {
    border-color:     #4CAF50;
    transition:       border-color 0.3s ease;
}

.loader {
    border:            16px solid #F3F3F3;
    border-radius:     50%;
    border-top:        16px solid #4CAF50; /* 緑色に変更 */
    width:             120px;
    height:            120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation:         spin 2s linear infinite;
    position:          fixed; /* 追加 */
    top:               50%; /* 追加 */
    left:              50%; /* 追加 */
    transform:         translate(-50%, -50%); /* 追加 */
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

h2 {
    font-size:     2em;
    color:         #4CAF50;
    text-align:    center;
    padding:       10px;
    border-bottom: 2px solid #4CAF50;
    margin-bottom: 20px;
}

table {
    border-width: 0;
    table-layout: fixed;
    width:        100%;
}

th, td {
    border:     1px solid #DDD;
    box-sizing: border-box;
    width:      9.09%;
}

table {
    background-color: white;
    color:            black;
}

input[type="radio"] + label {
    display:       inline-block;
    padding:       10px 20px;
    margin:        10px;
    border:        2px solid #4CAF50; /* ボーダーの色 */
    border-radius: 5px; /* ボーダーの角を丸くする */
    background:    #F2F2F2; /* 背景色 */
    color:         #4CAF50; /* テキストの色 */
    transition:    all 0.3s ease; /* アニメーション効果 */
    cursor:        pointer; /* マウスカーソルを手にする */
    width:         110%; /* ボタンの幅 */
}

input[type="radio"]:checked + label {
    background: #4CAF50; /* 選択時の背景色 */
    color:      #F2F2F2; /* 選択時のテキストの色 */
}

input[type="radio"] {
    display: none;
}

.radio-group {
    display: flex;
    justify-content: center;
}

#sidebar {
    position:         fixed;
    top:              0;
    right:            0; /* Change from left: 0; */
    height:           100%;
    width:            200px;
    background-color: #333;
    padding:          20px;
    box-sizing:       border-box;
    transform:        translateX(100%); /* Change from translateX(-100%); */
    transition:       transform 0.5s ease;
}

#clock-icon {
    right: 1rem;
    transition: right 0.5s ease;
}

#sidebar:hover {
    transform: translateX(0);
}

#sidebar ul {
    list-style: none;
    padding:    0;
}

#sidebar ul li {
    margin-bottom: 20px;
}

#sidebar ul li a {
    color:           #FFF;
    text-decoration: none;
}

#sun-icon {
    left:  auto;
    right: 4rem;
    transition: right 0.5s ease;
}

body {
    font-family: "Roboto", sans-serif;
}

.visited-playlists-container {
    display:          flex;
    flex-direction:   column;
    align-items:      center;
    justify-content:  center;
    background-color: #F0F0F0;
    border-radius:    10px;
    padding:          20px;
    box-shadow:       0 0 10px rgba(0, 0, 0, 0.1);
}

.visited-playlists-container h2 {
    color:         #333;
    font-size:     24px;
    margin-bottom: 20px;
}

.visited-playlists-container table {
    width:           100%;
    border-collapse: collapse;
}

.visited-playlists-container table, th, td {
    border:  1px solid #DDD;
    padding: 8px;
}

.visited-playlists-container table th {
    background-color: #4CAF50;
    color:            white;
}

.visited-playlists-container table tr:nth-child(even) {
    background-color: #F2F2F2;
}
