:root {
    --main-color: #212121;
    --secondary-color: #fafafa;
    --highlight-color: #4CAF50;
    --light-background: #f2f2f2;
    --dark-background: #183152;
    --transition-speed: 0.3s;
}

body {
    background-color: var(--secondary-color);
    font-family: 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.5s ease;
}

h1 {
    color: var(--main-color);
    font-family: 'Dancing Script', cursive;
    font-weight: 300;
    margin-left: 20px;
}

form {
    margin: 20px 0;
}

input[type="text"], button[type="submit"] {
    border-radius: 4px;
    height: 50px;
    margin: 8px 0;
    padding: 14px 20px;
}

input[type="text"] {
    border: 2px solid #ccc;
    box-sizing: border-box;
    width: 70%;
}

input[type="text"]:hover {
    background-color: var(--light-background);
    border-color: var(--highlight-color);
    transition: background-color var(--transition-speed) ease, border-color var(--transition-speed) ease;
}

button[type="submit"] {
    background-color: var(--highlight-color);
    border: none;
    color: var(--secondary-color);
    cursor: pointer;
    transition: background-color var(--transition-speed) ease;
}

button[type="submit"]:hover {
    background-color: #45a049;
    transition: background-color var(--transition-speed) ease;
}

table {
    border-collapse: collapse;
    margin: 20px 0;
    table-layout: fixed;
    width: 100%;
}

td, th {
    color: var(--main-color);
    min-width: 100px;
    padding: 20px;
    text-align: left;
}

td {
    border-bottom: 1px solid #ddd;
}

th {
    background-color: var(--main-color);
    color: var(--secondary-color);
    cursor: pointer;
    position: relative;
}

th:hover {
    background-color: #333;
    transition: background-color var(--transition-speed) ease;
}

tr:nth-child(even) {
    background-color: var(--light-background);
}

tr:hover {
    background-color: #e1e1e1;
    transition: background-color var(--transition-speed) ease;
}

#sun-icon {
    height: 50px;
    position: absolute;
    right: 10px;
    top: 10px;
    transition: transform 0.5s ease;
    width: 50px;
}

body.dark-mode {
    background-color: var(--dark-background);
    color: var(--secondary-color);
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 18px;
    }

    h1 {
        font-size: 24px;
    }

    input[type="text"] {
        width: 90%;
    }

    table {
        width: 100%;
    }

    td, th {
        padding: 10px;
    }

    #sun-icon {
        height: 30px;
        width: 30px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 1200px) {
    body {
        font-size: 20px;
    }

    h1 {
        font-size: 28px;
    }

    input[type="text"] {
        width: 80%;
    }

    table {
        width: 90%;
    }

    td, th {
        padding: 15px;
    }

    #sun-icon {
        height: 40px;
        width: 40px;
    }
}
