@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    @apply bg-gray-200 font-sans m-0 p-0 transition-colors duration-500;
}

h1 {
    @apply text-gray-800 font-dancingScript font-light ml-5;
}

form {
    @apply m-5;
}

input[type="text"], button[type="submit"] {
    @apply rounded-lg h-12 my-2 px-5;
}

input[type="text"] {
    @apply border-2 border-gray-300 box-border w-4/5;
}

input[type="text"]:hover {
    @apply border-green-500 transition-colors duration-300;
}

button[type="submit"] {
    @apply bg-green-500 border-none cursor-pointer;
}

button[type="submit"]:hover {
    @apply bg-green-600;
}

table {
    @apply border-collapse m-5 table-fixed w-full;
}

td, th {
    @apply text-gray-800 min-w-24 p-5 text-left;
}

td {
    @apply border-b border-gray-300;
}

th {
    @apply bg-gray-800 text-gray-200 cursor-pointer relative;
}

th:hover {
    @apply bg-gray-600 transition-colors duration-300;
}

tr:nth-child(even) {
    @apply bg-gray-200;
}

tr:hover {
    @apply bg-gray-300 transition-colors duration-300;
}

#sun-icon {
    @apply h-12 absolute right-2 top-2 transition-transform duration-500 w-12;
}

body.dark-mode {
    @apply bg-gray-800 text-gray-200;
}

body.dark-mode h1 {
    @apply text-white;
}

@media only screen and (max-width: 600px) {
    body {
        @apply text-lg;
    }

    h1 {
        @apply text-2xl;
    }

    input[type="text"] {
        @apply w-11/12;
    }

    table {
        @apply w-full;
    }

    td, th {
        @apply p-2;
    }

    #sun-icon {
        @apply h-8 w-8;
    }
}

@media only screen and (min-width: 600px) and (max-width: 1200px) {
    body {
        @apply text-xl;
    }

    h1 {
        @apply text-3xl;
    }

    input[type="text"] {
        @apply w-4/5;
    }

    table {
        @apply w-11/12;
    }

    td, th {
        @apply p-3;
    }

    #sun-icon {
        @apply h-10 w-10;
    }
}

table {
    @apply overflow-x-auto block;
}

table th {
    @apply cursor-pointer relative;
}

table th::before, table th::after {
    @apply h-1 w-1 absolute border-t-2 border-r-2 border-gray-500 right-1 top-1/2;
}

table th::before {
    @apply transform -translate-y-2 rotate-45;
}

table th::after {
    @apply transform translate-y-1 rotate-135;
}

table th.asc::before {
    @apply border-green-500;
}

table th.desc::after {
    @apply border-green-500;
}

tr {
    @apply h-12;
}

td {
    @apply truncate overflow-hidden;
}
